.sale-head-slider{
    /* background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%); */
/* background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); */
    /* background-color: #F2994A;
    background-image: linear-gradient(315deg, #F2994A 0%, #F2C94C 74%);  */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite alternate;
    height: 350px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    color:#fff;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.sale-lable{
    position: relative;
}
.sale-lable::before{
    position: absolute;
    content: "50%";
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
height: 40px;
width: 40px;
z-index: 1;
top: 10px;
right: 10px;
display: flex;
justify-content: center;
align-items: center;
padding: 25px;
border-radius: 35px;
color: #fff;
font-weight: 600;
letter-spacing: 0.5px;
}
.sale-row{
    /* min-width:1200px; */
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
/* .top-product{
    display: flex;
    justify-content:start;
} */
.products{
    padding: 0px;
}
.home-product{
    margin:6px;
}
.fliters{
    box-shadow: 0px 0px 1px #8c8686;
    border: 0 solid #ddd;
    padding: 20px;
}
.fliters h3{
    position: relative;
}
.fliters h3::before{
    position: absolute;
    content: "";
    height: 3.5px;
    width: 80px;
    background-color: #333;
    top: 40px;
}
.fliters h3::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #333;
    top: 43px;
    left: 0;
}
.fliters h4{
    margin: 0px;
    font-size: 22px;
    margin-top:20px;
}

.priceFilter{
    display: flex;
}
.priceFilter input{
    width: 50px;
    height: 40px;
    margin: 0px;
    margin-right: 10px;
}
.colorsFilter{
    position: relative;
    margin-top:20px;
}
.clFlt{
    padding: 15px;
    position: absolute;
    border-radius: 100px;
}
.colorFilter1{
    background-color: rgb(230, 9, 101);
}
.colorFilter2{
    background-color: rgb(236, 202, 9);
    left:35px;
}
.colorFilter3{
    background-color: rgb(42, 165, 134);
    left:70px;
}
.colorFilter4{
    background-color: rgb(255, 216, 157);
    left:105px;
}
.colorFilter5{
    background-color: rgb(36, 50, 131);
    left:140px;
}
.filterItems a{
    margin-top: 10px;
    position: relative;
    top:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px dotted #333;
    padding: 10px 0px;
    text-decoration: none;
    color:#333;
}
h4{
    font-size: 10px;
}