*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite alternate;
    height: 100vh;
    width: 100%;
}



    .stopWatchBG{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        height: 90%;
        width: 95%;
    }
    .stopWatch{
        display: flex;
    }
    .stopWatch h1{
        /* margin:10px; */
        width: 130px;
        font-size: 75px;
        color:#303030;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        /* border: 1px solid red; */
        text-align: center;
        position: relative;
    }
    #hours::before{
        position: absolute;
        content: "Hours";
        font-size: 13px;
        bottom: -5px;
        display: flex;
        left:34%;
    }
    #mints::before{
        position: absolute;
        content: "Minutes";
        font-size: 13px;
        bottom: -5px;
        display: flex;
        left:29%;
    }
    #sec::before{
        position: absolute;
        content: "Seconds";
        font-size: 13px;
        bottom: -5px;
        display: flex;
        left:27%;
    }
    #m_sec::before{
        position: absolute;
        content: "milliseconds";
        font-size: 13px;
        bottom: -5px;
        display: flex;
        left:16%;
    }
    .controllers{
        margin-top:30px;
    }
     button{
        border: 1px solid #d0d0d0;
        width: 140px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
        font-size: 18px;
    }

     button:hover{
        color:#fff;
        transition: 0.4s;
        border-color: #b1b1b1;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite alternate;
    }
    .user input{

        width: 470px;
        font-size: 20px;
        padding: 10px;
        outline: none;
        background-color: #F0F0F0;
        border: 1px solid #d0d0d0;
        border-radius: 5px;
    }
    .user button{
        width: 470px;
        font-size: 20px;
        padding: 10px;
        margin:0px;
        margin-top:10px;
    }
    .user input:focus{
        box-shadow:  0px 0px 2px rgba(0, 0, 0, 0.2);

    }
.userData{
    display: flex;
}

.userData ul{
    position: relative;
    list-style: none;
    /* display: flex; */
    font-size: 18px;
    font-weight: 600;
    color:#303030;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.userData ul li{
    margin: 10px;
}
.userData ul div{
    display: flex;
}
.userData ul hr{
    /* border: 4px solid rgb(79, 131, 209); */
    height: 5px;
    background-color:rgb(79, 131, 209); ;
}
    /* flex-basis: 100%;
    height: 0; */
/* 
.userData ul div::after{
display: block;
    content: "\A";
white-space: pre;
} */
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
        }